body {
    background-image: url("color.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    color: white;
  }